<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Something</title>

	<link rel="stylesheet" href="/assets/css/vendor/normalize.css">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
	<canvas id="editor">Canvas is not available in this browser, at the moment.</canvas>
	
	<div id="chat">
		<div class="message">Hey, guys. Let's try something fast-paced.</div>
		<div class="message">Nah.  Make it move.</div>
		<div class="message">Nyan cat is our ruler.</div>
		<div class="message">If you say so... ?</div>
		<div class="message">I do say so.</div>
		<div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
		<div class="message">Nyan cat is our ruler.</div>
		<div class="message">If you say so... ?</div>
		<div class="message">I do say so.</div>
		<div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
		<div class="message">Nyan cat is our ruler.</div>
		<div class="message">If you say so... ?</div>
		<div class="message">I do say so.</div>
		<div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </
		<div class="message">Nyan cat is our ruler.</div>
		<div class="message">If you say so... ?</div>
		<div class="message">I do say so.</div>
		<div class="message">You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  You are cool.  </div>
	</div>
	
	<div id="nav">
		<h1>Arietta</h1>
		
		<nav>
			<ul>
				<li><a href="#"><span>Create</span></a></li>
				<li><a href="#"><span>Logout</span></a></li>
				<li>Fast<input type="range" id="tempo" min="1" value="5" max="60" step="1">Slow</li>
			</ul>
		</nav>
	</div>
	<script src="http://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script>
		var socket = io.connect('http://localhost');
		
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
		});

		socket.on('push-note', function (data)
		{
			app.updateDot(data.row, data.col, data.state);
		});
	</script>
	<script src="/assets/js/vendor/jquery-1.10.2.min.js"></script>
	<script src="/assets/js/vendor/jquery-ui.js"></script>
	<script src="/assets/js/vendor/MIDI.js"></script>
	<script src="/assets/js/vendor/MIDI.min.js"></script>
	<script src="/assets/js/vendor/Base64.js"></script>
	<script src="/assets/js/vendor/DOMLoader.XMLHttp.js"></script>
	<script src="/assets/js/vendor/Event.js"></script>
	<script src="/assets/js/vendor/Queue.js"></script>
	<script src="/assets/js/vendor/base64binary.js"></script>
	<script src="/assets/js/app.js"></script>
	<script src="/assets/js/app-controls.js"></script>
	<script src="/assets/js/app-events.js"></script>
</body>
</html>
